apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:

  # Homepage (served from /)
  index.html: |
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Shmuel Home Lab</title>
      <style>
        body { font-family: Arial; background:#121212; color:#eee; text-align:center; padding-top:80px; }
        a { color:#4ade80; font-size:22px; display:block; margin:12px; text-decoration:none; }
      </style>
    </head>
    <body>
      <h1>Welcome to Shmuel's Home Lab</h1>
      <p>Select an application:</p>
      <a href="/dvwa/">DVWA</a>
    </body>
    </html>

  # Homepage routing
  homepage.conf: |
    server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files $uri /index.html;
        }
    }

  # DVWA reverse proxy
  dvwa.conf: |
    location /dvwa/ {
        rewrite ^/dvwa/?(.*)$ /$1 break;
        proxy_pass http://dvwa.default.svc.cluster.local;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
