apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:

  index.html: |
    <!DOCTYPE html>
    <html>
    <body>
      <h1>Shmuel Lab Homepage</h1>
      <a href="/dvwa/">DVWA</a>
    </body>
    </html>

  homepage.conf: |
    server {
        listen 80 default_server;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files $uri /index.html;
        }

        # Include all application routes
        include /etc/nginx/conf.d/apps/*.conf;
    }

  dvwa.conf: |
    location /dvwa/ {
        rewrite ^/dvwa/?(.*)$ /$1 break;
        proxy_pass http://dvwa.default.svc.cluster.local;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
