apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-lab-config
  namespace: lab-security
data:
  default.conf: |
    upstream dvwa_backend {
        server dvwa-lab:80;
    }

    server {
        listen 80;
        server_name _;

        location /health {
            access_log off;
            add_header Content-Type text/plain;
            return 200 "nginx-lab: ok\n";
        }

        location /dvwa/ {
            proxy_pass http://dvwa_backend/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
