apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files /index.html =404;
        }
    }

  index.html: |
    <html>
      <head>
        <title>ArgoCD NGINX Demo</title>
      </head>
      <body style="font-family: Arial; background:#f0f0f0; text-align:center; padding-top:40px">
        <h1>Hello from Argo CD Deployment!</h1>
        <p>This page is deployed and managed by GitOps.</p>
        <a href="https://www.google.com">Go to Google</a><br/>
        <a href="https://ip-api.com">Go to ip-api.com</a>
      </body>
    </html>
