grafana:
  adminPassword: admin
  service:
    type: NodePort
    nodePort: 30084

prometheus:
  service:
    type: ClusterIP

alertmanager:
  enabled: false

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
