apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-gateway
  labels:
    app: nginx-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-gateway
  template:
    metadata:
      labels:
        app: nginx-gateway
    spec:
      containers:
      - name: nginx
        image: nginx:stable
        ports:
        - containerPort: 80

        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/main.conf
          subPath: main.conf

        - name: nginx-config
          mountPath: /etc/nginx/conf.d/apps/dvwa.conf
          subPath: dvwa.conf

        - name: nginx-config
          mountPath: /usr/share/nginx/html/index.html
          subPath: index.html

      volumes:
      - name: nginx-config
        configMap:
          name: nginx-gateway-config
